<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108069473520-8sir3r4geb2c3op77c6jmcp8cpooaqfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108069473520-8sir3r4geb2c3op77c6jmcp8cpooaqfg</string>
	<key>API_KEY</key>
	<string>AIzaSyClCwneMOErvGRo7GhhdBFaHzdXgh5j7NE</string>
	<key>GCM_SENDER_ID</key>
	<string>108069473520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miempresa.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-aec51</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-aec51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108069473520:ios:41dd73499580de55070635</string>
</dict>
</plist>